name: build
on:
  push:
    paths:
      - ".github/workflows/build.yml"
      - "build.sh"
  pull_request:
    paths:
      - ".github/workflows/build.yml"
      - "build.sh"
  workflow_dispatch:

jobs:
  linux:
    name: Build for Linux
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: install deps
      run: sudo apt install -y git zip

    - name: checkout git submodules
      run: |
        git submodule update --init
      working-directory: ${{ github.workspace }}
      
    - name: Download ondk
      uses: robinraju/release-downloader@v1
      with:
        repository: 'topjohnwu/ondk'
        latest: true
        fileName: 'ondk-r*-linux.tar.xz'

    - name: Setup ondk
      run: |
        tar -xf ondk-*-linux.tar.xz -C .
        rm -rf ondk-*-linux.tar.xz
        mv ondk-* ndk
      working-directory: ${{ github.workspace }}

    - name: Build
      run: |
        echo "DTC_VERSION=$(echo $(sed -f dtc/METADATA_version.sed -n dtc/METADATA))" >> "$GITHUB_ENV"
        chmod a+x build.sh
        ./build.sh || exit 1
      working-directory: ${{ github.workspace }}

    - name: Zip out
      run: zip -9 dtc_bins-${{ env.DTC_VERSION }}-linux.zip build/bin/*
      working-directory: ${{ github.workspace }}

    - uses: actions/upload-artifact@v4
      with:
        name: build-linux-output
        path: dtc_bins-${{ env.DTC_VERSION }}-linux.zip
        
  android:
    name: Build for android
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      
    - name: install deps
      run: sudo apt install -y git zip

    - name: checkout git submodules
      run: |
        git submodule update --init
      working-directory: ${{ github.workspace }}
      
    - name: Download ondk
      uses: robinraju/release-downloader@v1
      with:
        repository: 'topjohnwu/ondk'
        latest: true
        fileName: 'ondk-r*-linux.tar.xz'

    - name: Setup ondk
      run: |
        tar -xf ondk-*-linux.tar.xz -C .
        rm -rf ondk-*-linux.tar.xz
        mv ondk-* ndk
      working-directory: ${{ github.workspace }}

    - name: Build
      run: |
        echo "DTC_VERSION=$(echo $(sed -f dtc/METADATA_version.sed -n dtc/METADATA))" >> "$GITHUB_ENV"
        chmod a+x build.sh
        ./build.sh android 23 #sdk 23 || exit 1
      working-directory: ${{ github.workspace }}

    - name: Zip out
      run: zip -9 dtc_bins-${{ env.DTC_VERSION }}-android.zip build/bin/*
      working-directory: ${{ github.workspace }}

    - uses: actions/upload-artifact@v4
      with:
        name: build-android-output
        path: dtc_bins-${{ env.DTC_VERSION }}-android.zip
        
  windows:
    name: Build for Windows
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}

    steps:
      - name: Check out
        uses: actions/checkout@v4
      
      - name: Setup MSYS2
        uses: msys2/setup-msys2@v2
        with:
          msystem: CLANG64
          update: true
          install: >-
            git
            zip

      - name: checkout git submodules
        run: |
          git submodule update --init
        working-directory: ${{ github.workspace }}
    
      - name: Build
        run: |
          ver="$(echo $(sed -f dtc/METADATA_version.sed -n dtc/METADATA))"
          echo "DTC_VERSION=$ver" >> "$GITHUB_ENV"
          echo "$ver" > ver.txt
          chmod a+x build.sh
          ./build.sh || exit 1
        working-directory: ${{ github.workspace }}

      - name: Zip out
        run: |
          zip -9 dtc_bins-${{ env.DTC_VERSION }}-windows.zip build/bin/*
        working-directory: ${{ github.workspace }}
  
      - uses: actions/upload-artifact@v4
        with:
          name: build-windows-output
          path: dtc_bins-${{ env.DTC_VERSION }}-windows.zip
          
      - uses: actions/upload-artifact@v4
        with:
          name: dtc-version-output
          path: ver.txt

  upload:
    name: upload
    needs: [linux, android, windows]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: build-linux-output
        
      - uses: actions/download-artifact@v4
        with:
          name: build-android-output
        
      - uses: actions/download-artifact@v4
        with:
          name: build-windows-output

      - uses: actions/download-artifact@v4
        with:
          name: dtc-version-output

      - name: Set dtc version
        run: echo "DTC_VERSION=$(cat ver.txt)" >> "$GITHUB_ENV"
        
      - name: test output
        run: |
          ls
        working-directory: ${{ github.workspace }}

      - name: Upload output to GH-Release
        uses: softprops/action-gh-release@v2
        with:
          name: "android dtc ${{ env.DTC_VERSION }}"
          body: ""
          tag_name: "android-dtc-${{ env.DTC_VERSION }}-${{ github.sha }}"
          token: ${{ secrets.GITHUB_TOKEN }}
          files: |
            *.zip
